section.sidebar
    button(type="button" id="openCreateChatPopup" class="sidebar__create-button")
      include ../../../static/assets/icons/create-chat.svg
    div.search-container
        a(href="#" id="goToSettings" class="settings-icon")
            include ../../../static/assets/icons/settings.svg
        SearchInputComponent(data="search" class="search-container__search")
    div(id="chatCards" class="sidebar__chats")
      ChatsListComponent(data="chatsList")
section.main
    section.top-panel
        div.top-panel__avatar-container
          if chatName
            AvatarComponent(data="chatAvatar" class="top-panel__avatar")
            span(class="top-panel__author-name")=chatName
        div.top-panel__options
          if selectedChat
            input(type="image" class="top-panel__options-ellipsis-icon" id="cart" alt="cart" src=cartImgSrc)
            input(type="image" id="vertical-ellipsis" alt="vertical-ellipsis" src=vertEllipsisImgSrc)
    if selectedChat
      section.chat
        if time
          TimeComponent(data="time" class="chat__time")
        MessagesListComponent(data="messagesList")
      ErrorMessageComponent(data="error" error-for="message" class="main__error")
      section.bottom-panel
          button(type="button" class="bottom-panel__button bottom-panel__clip-button")
              include ../../../static/assets/icons/clip.svg
          form(class='form-message' id="formMessage")
              textarea(class="bottom-panel__text-message" wrap="hard" cols="2" id="message" name=messageFieldName placeholder="Type a message...")
              button(type="submit" class="bottom-panel__button bottom-panel__arrow-button")
                  include ../../../static/assets/icons/arrow-button.svg
    else
      p(class='main__empty-text')='Select or create a chat to send a message'

EllipsisMenu(data="ellipsisMenu")

PopupCreateChatComponent(data="popupCreateChat")

PopupAddUserToChatComponent(data="popupAddUserToChat")

PopupDeleteUserFromChatComponent(data="popupDeleteUserFromChat")
