div.input
    if label
        label(
            class=`input__label ${labelClass || ""}`
            for=id
            )= label
    input(
        type="text"
        class=`input__field ${inputClass || ""}`
        id=id
        name=name
        value=value
        placeholder=placeholder
        required=required
    )
